[Unit]
Description=Capstone Server
After=network.target

[Service]
Type=simple
User=nineh
WorkingDirectory=/home/nineh/ProjectServer
ExecStart=/usr/local/bin/uwsgi --socket :8001 --module ProjectServer.wsgi
Restart=on-failure

[Install]
WantedBy=default.target
